@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$colorprimary: #199cb5;
$colorprimarylight: #61bdd1;
$colorprimaryextralight: #cfe6ea;
$colorsecondarylight: #ebdfca;
$colorsecondarylight: #f4f1eb;

%mybasefont {
font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
%mytitlefont {
    font-family: "Nunito", sans-serif;
      font-optical-sizing: auto;
      font-weight: 750;
      font-size: 5rem;
   }

%btn-primary{
    padding: 15px 25px;
    border-radius: 8px;
    background-color: $colorprimary;
    color: white;
    border: none;
    cursor: pointer;
    
}
%btn-warning{
    background-color: #FEDB25;
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    text-decoration: none;
}
%btn-primary-hover {
    color: $colorprimary;
    background-color: white;
    border: 1px solid ;
    border-color: $colorprimary;
}


* {
    margin: 0;
    padding: 0;
}
body{
    @extend %mybasefont;
}



//hero section

.hero{
    max-width: 100%;
    min-height: 25%;
    padding: 0 95px 0px 95px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 3%;
    margin-top: -75px;
    background: linear-gradient(0deg, #FFFFFF 48%, #CFE6EA 100%);

}

.container{
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.title{
    @extend %mytitlefont;

}

.info {
    @extend %mybasefont;
    max-width: 90%;
    margin-top: 2%;
}

.elipse{
    max-width: 50%;
    padding: 3px;
    display: flex;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.primary{
    @extend %btn-primary;
    @extend %mybasefont;
    width: 32%;
    margin-top: 5%;
    font-size: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    ;
}
.primary:hover {
    @extend %btn-primary-hover;
}
//destacados section
.franja{
    background-color: $colorprimarylight;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 95% ;
    min-height: 230px;
    padding: 30px;
    margin: -5px 25px 0 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cards {

    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 4rem;

}

.card-container {
    position: relative;
    width: 177px;
    height: 177px;



  }

.card{
    background-color: white;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 177px;
    height: 177px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.card.hovered {
    transform: translateY(-40%);
}
.button-container{
   
position: absolute;
  top: 90%; /* Center vertically */
  left: 20%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for both the button's width and height */
  display: none;
}
.button-container.visible {
    display: block; /* Button container appears when hovered */

  }
.oculto{
    @extend %btn-warning;
    @extend %mybasefont;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

span {
    text-decoration: none;
    font-weight: 700;

}

.card-images{
    width: 138px;
    height: 139px;
    top: 32px;
}

.destacados {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
}

.destacados-title {
    @extend %mytitlefont;
    font-size: 3rem;
    color: white;
    max-width:  80%;
    min-height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
}


.destacados-desc {
    @extend %mybasefont;
    color: white;
}

.franja-us{
    background-color: #f5f5f5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 85% ;
    min-height: 230px;
    padding: 30px;
    margin: 60px 35px 60px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h5 {
        margin-bottom: 15px;
        font-size: 3.5rem;
    }
    p {
        text-align: center;
        max-width: 80%;
    }
}

.slider {   
    max-width: 85% ;
    min-height: 627px;
    padding: 30px;
    margin: 60px 35px 60px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-start;
    
    .slider-desc{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.2rem;
        
        h6 {
            font-size: 4rem;
            text-align: justify;
            margin-top: 15px;
        }
        .opinion {
            @extend %btn-warning;
            @extend %mybasefont;
            font-weight: 600;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

    }
    .slider-container {
        position: relative;
        display: flex; /* Añadido para alinear imagen y botón */
      
        .image-container {
            min-height: 476px;
          }
          
          .description-box {
            position: absolute;
            background-color: $colorsecondarylight;
            color: black;
            border-left: 12px solid $colorprimarylight;
            border-radius: 10px;
            bottom: -25%;
            left: 15%;
            width: calc(100% - 50px); /* Actualizado para dejar espacio al botón */
            padding: 35px;
            display: flex;
            flex-direction: column;
            gap: 30px;
          }
          span{

            align-self: flex-start;
          }
          
          .btn-slider {
            position: absolute;
            border-radius: 100%;
            border: none;
            background-color: $colorprimary;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: white;
            font-weight: 600;
            font-size: 1.5rem;
            margin-left: auto; /* Añadido para empujar el botón a la derecha */
            min-height: 70px;
            max-width: 60px;
            padding: 10px 25px;
            left: 110%;
            bottom: 50%;
            cursor: pointer;
          }
          .btn-slider:hover {
            border: 1px solid $colorprimary;
            color: $colorprimary;
            background-color: white;
          }
    
    
    }
      
}
.contacto{
    background-color: $colorprimarylight;
    max-width: 85% ;
    min-height: 230px;
    margin: 60px 35px 30px 40px;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .contact-info{
        display: flex;
        flex-direction: column;
        max-width: 40%;

        .social-icons{
            display: flex;
            flex-direction: row;
            max-width: 60%;
            justify-content: space-between;
            margin-bottom: 35px;

            a{
                background-color: white;
                border-radius: 100%;
                max-width: 30px;
                min-height: 30px;
                padding: 6px 10px 5px 10px;
                color: black;
                

            }
            a:visited{
                color: black;
            }
        }
        .contact-desc {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            gap: 6px;
            
            
            h6 {
                font-size: 2rem;
                background-color: #CFE6EA;
                max-width: fit-content;
                border-radius: 14px;
                padding: 1px 2px;
                @extend %mybasefont;
                font-size: 1.5rem;
                font-weight: 600;
            }
            span{
                font-weight: 400;
                color: white;
            }
        }

   

    }

    form{
       
        align-self: center;
        background-color: white;
        max-width: 65%;
        padding: 30px;
        border-radius: 14px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: space-between;
        gap: 20px;
        .form-email{
            width: 100%;
            height: 69px;
            padding: 0px 35px;
            border-radius: 14px ;
            border: 1px solid;
            @extend %mybasefont;
           font-weight: 700;
           color: black;
        }
        .btn-submit{
            width: 100%;
            height: 68px;
            padding: 20px 35px 20px 35px;
            border: none;
            gap: 10px;
            border-radius: 14px;
            background-color: $colorprimarylight;
            color: black;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            @extend %mybasefont;
            font-weight: 700;
        }
    }
}
footer{
    background-color: $colorprimarylight;
    color: white;
    max-width: 85% ;
    min-height: 30px;
    margin: -45px 0px 0px 40px;
    display: flex;
    justify-content: flex-start;
    padding: 30px 50px;  
    position: relative;

}

footer:after{
    border-top: 1px solid white;
    top: -1px;
    width: 92%;
    position: absolute;
    content: "";
}








